pip install Flask==2.3.3
pip install gunicorn==20.1.0
pip install numpy==1.26.4
pip install pandas==2.2.2
pip install scikit-learn==1.5.0
pip install xgboost==3.1.2
pip install requests==2.25.1
pip install urllib3==1.26.20
pip install beautifulsoup4==4.9.3
pip install soupsieve==2.8
pip install lxml==6.0.2
pip install python-dateutil==2.9.0.post0
pip install whois==0.9.13
pip install googlesearch-python==1.0.1